.type-402 a {
  text-decoration: none;
  color: #505050;
}
.type-402 body {
  background: white;
}
.type-402 ul {
  list-style: none;
  font-family: 'Tahoma', 'Arial', 'sans-serif';
  color: #8d7a65;
  padding: 0;
}
.type-402 li {
  display: block;
}
.type-402 li:before {
  color: #D0021B;
  margin-right: 19px;
  font-family: 'FontAwesome';
  font-size: 17px;
}
.type-402 span {
  color: #000;
}
.type-402 .tit1 {
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  color: #403932;
  font-family: PT Serif;
}
.type-402 .email:before {
  content: "\f0e0";
}
.type-402 .address:before {
  content: "\f015";
}
.type-402 .fax:before {
  content: "\f02f";
}
.type-402 .telephone:before {
  content: "\f095";
}
@media (min-width: 768px) {
  .type-402 .contact {
    width: 960px;
  }
}
