.type-411 .cover-bg,
.type-411 .cover-bg:after {
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.type-411 .cover-bg {
  background: url(../images/signup-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index: -10;
  position: fixed;
}
.type-411 .cover-bg:after {
  content: "";
  position: absolute;
  display: block;
  background: rgba(81,83,94,0.65);
}
.type-411 .top-links {
  float: right;
  padding-top: 20px;
}
.type-411 .top-links a {
  display: inline-block;
  padding: 9px 44px;
  margin-left: 22px;
  border-radius: 2px;
  border: 1px solid #fff;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.type-411 .top-links span {
  font-size: 1.5rem;
  color: #fff;
}
.type-411 .logo {
  display: block;
  margin-top: 100px;
  text-align: center;
}
.type-411 .logo img {
  width: 150px;
  display: inline-block;
}
.type-411 .account-container {
  width: 440px;
  display: block;
  margin: 0 auto;
}
.type-411 .account-container h1 {
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 2.6rem;
}
.type-411 .account-container main {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
}
.type-411 .account-container .simple-input {
  border: 0;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  padding: 20px 0 0 20px;
}
.type-411 .account-container .submit-button {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 2px;
  padding: 16px 0;
  margin-top: 14px;
  transition: .15s ease-out;
  border: none;
}
.type-411 .account-container .submit-button.black {
  background: #292F34;
}
.type-411 .account-container .submit-button.black:hover {
  background: #22272b;
}
.type-411 hr {
  height: 1px;
  color: #DFDFDF;
  margin-bottom: 0;
}
.type-411 .specialty-select {
  padding: 18px 20px 4px;
}
.type-411 .basic-select-menu {
  width: 100%;
  display: block;
  margin-bottom: 14px;
  position: relative;
  border-radius: 2px;
  background: #EEE;
}
.type-411 .basic-select-menu select {
  display: block;
  width: 100%;
  color: #7E7F8D;
  font-size: 1.3rem;
  padding: 12px 20px;
  border: 0;
  background: 0 0;
  -webkit-appearance: none;
}
.type-411 .basic-select-menu svg {
  position: absolute;
  fill: #7E7F8D;
  right: 20px;
  top: 15px;
  width: 12px;
  height: 12px;
}
.type-411 .register-tos-confirm label {
  font-size: 1.3rem;
  font-weight: normal;
}
.type-411 .register-tos-confirm button {
  margin: 0;
  padding: 0;
  color: #2E82C1;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  border: 0;
  background: none;
}
.type-411 .input-validation {
  position: relative;
}
.type-411 input:focus {
  outline: none;
}
.type-411 .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.type-411 .checkbox label {
  position: relative;
  border: 1px solid;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 1px;
  background: 0 0;
  cursor: auto;
}
.type-411 .checkbox input {
  -webkit-appearance: none;
}
.type-411 .checkbox.grey label {
  border-color: #7E7F8D;
}
.type-411 .checkbox.grey input:checked+.box:after {
  background: #2E82C1;
}
.type-411 .checkbox label.box:after {
  transition: background-color .2s ease;
  display: inline-block;
  content: "";
  position: absolute;
  border-radius: 1px;
  top: 1px;
  left: 1px;
  width: 10px;
  height: 10px;
}
.type-411 .checkbox input[type="checkbox"] {
  float: left;
  margin: 0px;
}
.type-411 .submit-button {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 2px;
  padding: 16px 0;
  margin-top: 14px;
  transition: .15s ease-out;
}
.type-411 .submit-button.blue {
  background: #2E82C1;
}
.type-411 .submit-button.blue:hover {
  background: #2b7ab5;
}
@media (max-width: 768px) {
  .type-411 .logo {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .type-411 .top-links {
    position: absolute;
    right: 5px;
    text-align: center;
  }
  .type-411 .account-container {
    width: 100%;
  }
}
